<a href="https://colab.research.google.com/github/IshantWadhwa4/python/blob/master/python_basic_exercise_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic python Exercise from 
https://www.w3resource.com/python-exercises/python-basic-exercises.php

In [0]:
print("Twinkle, twinkle, little star, \n \tHow I wonder what you are! \n \t \tUp above the world so high, \n \t \tLike a diamond in the sky. \n Twinkle, twinkle, little star, \n \tHow I wonder what you are")

Twinkle, twinkle, little star,
 	How I wonder what you are!
 	 	Up above the world so high,
 	 	Like a diamond in the sky.
 Twinkle, twinkle, little star,
 	How I wonder what you are

In [0]:
!python3 --version

Python 3.6.8

In [0]:
import datetime
print(datetime.datetime.now())

2019-11-26 05:52:27.681602

In [0]:
import math
pie = math.pi
radius = int(input("r = "))
print("Area = " + str(pie*radius*radius))

r = 7
Area = 153.93804002589985

In [0]:
first_name = str(input("Please enter your first name : "))
last_name = str(input("Please enter your last name : "))
print(first_name[::-1] + " " + last_name[::-1])

Please enter your first name : Ishant
Please enter your last name : wadhwa
tnahsI awhdaw

In [0]:
data = str(input("Please Enter comma-separated numbers :"))
l = data.split(',')
t = tuple(l)
print("List is :" ,l)
print("Tuple is :" ,t)

Please Enter comma-separated numbers :1,2,3,4
List is : ['1', '2', '3', '4']
Tuple is : ('1', '2', '3', '4')

In [0]:
fileName = input("Please enter your file name : ")
print(fileName.split('.')[1])

Please enter your file name : ss.java
java

In [0]:
color_list = ["Red","Green","White" ,"Black"]
print("First Element : " + color_list[0])
print("Last Element : " + color_list[-1])

First Element : Red
Last Element : Black

In [0]:
exam_st_date = (11, 12, 2014)
print("Exam will be start from {0}/{1}/{2}".format(exam_st_date[0],exam_st_date[1],exam_st_date[2]))

Exam will be start from 11/12/2014

In [0]:
number = str(input("Enter a number : "))
o = int(number + number + number)
t = int(number + number)
print(int(number) + o + t)

Enter a number : 5
615

In [0]:
help(abs.__doc__) # print the documents (syntax, description etc.)

No Python documentation found for 'Return the absolute value of the argument.'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [0]:
import calendar
year = int(input("Enter thre Year "))
month = int(input("Enter the Month "))
print(calendar.month(year,month))

Enter thre Year 2019
Enter the Month 11
   November 2019
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [1]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")
# """ triple " use for multi-lines   """

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [5]:
from datetime import date
d0 = date(2014, 7, 2)
d1 = date(2014, 7, 11)
print(d1-d0)

9 days, 0:00:00

In [6]:
from math import pi
r = float(input("Please enter the radius of sphere"))
print(4*pi*r**3/3)

Please enter the radius of sphere7
1436.755040241732

In [13]:
n = int(input("Enter a number : "))
p = abs(17-n)**2 if n >17 else (17-n)
print(p)

Enter a number : 14
3

In [15]:
a = int(input("Please Enter your 1st NUmber"))
b = int(input("Please Enter your 2nd NUmber"))
c = int(input("Please Enter your 3rd NUmber"))
if a==b==c:
  print(a*3)
else :
  print(a+b+c)

Please Enter your 1st NUmber13
Please Enter your 2nd NUmber13
Please Enter your 3rd NUmber13
39

In [31]:
input_string = input("Please enter your string")
input_list = input_string.split()
try:
  print(' '.join(input_list[input_list.index("is"):]))
except ValueError:
  print("Is is not in the sentance")

Please enter your stringdfgvds anjhaosi huagscouahvs
Is is not in the sentance

In [36]:
def strTo3Time(string,n):
  if n>0:
    return string*n
  else:
    return "Enter Non negitive number"  

print(strTo3Time("abc",3))

abcabcabc

In [39]:
number = int(input("Please Enter the number "))
if number % 2 == 0:
  print("Even Number")
else:
  print("Odd Number")

Please Enter the number 0
Even Number

Start With 26